<div class="p-d-flex p-jc-between p-ai-center p-mb-3 p-p-2 custom-header">
  <div>
    <h2>Hacker News Stories</h2>
    <h5 class="p-text-secondary">Explore the latest and most exciting stories!</h5>
  </div>
  <div class="search-container">
    <input
      type="text"
      pInputText
      [(ngModel)]="searchQuery"
      (keyup.enter)="onSearch()"
      placeholder="Enter title or author"
      class="styled-input"
    />
    <button
      pButton
      label="Search"
      icon="pi pi-search"
      class="styled-button"
      (click)="onSearch()"
    ></button>
  </div>
</div>

<p-table
  class="custom-table"
  [value]="stories"
  [paginator]="true"
  [rows]="rows"
  [totalRecords]="totalStories"
  [lazy]="false"
  [loading]="loading"
  [rowsPerPageOptions]="[10, 20, 50]"
  [tableStyle]="{ 'min-width': '70rem' }"
  (onPage)="pageChange($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-story>
    <tr>
      <td>
        <span>{{ story.title }}</span>
        <br />
        <small class="author-name"><strong>By: {{ story.by }}</strong></small>
      </td>
      <td>
        <p-rating
          [stars]="5"
          [readonly]="true"
          [(ngModel)]="story.score"
        ></p-rating>
      </td>
      <td>
        <a [href]="story.url" target="_blank" class="text-primary">Read More</a>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" class="text-center">No stories found.</td>
    </tr>
  </ng-template>
</p-table>
