name: Build and Deploy Angular App to Azure

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install Angular CLI
        run: npm install -g @angular/cli

      - name: Install dependencies and build Angular app
        run: |
          npm install
          ng build --configuration production
        working-directory: hacker-news-app # Ensure this points to your Angular app folder
        env:
          CI: true

      - name: Debug:Check Build Output
        run: |
          dir hacker-news-app\dist\hacker-news-app
        shell: cmd

      - name: Deploy to Azure Web App
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'hacker-news-angular'
          slot-name: 'production'
          package: hacker-news-app\dist\hacker-news-app
